<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @mark.value %>
</p>

<p>
  <strong>Description:</strong>
  <%= @mark.description %>
</p>

<p>
  <strong>Mdate:</strong>
  <%= @mark.mdate %>
</p>

<%= link_to 'Edit', edit_mark_path(@mark) %> |
<%= link_to 'Back', marks_path %>
