<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.student.name') %>:</strong>
  <%= @student.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.nif') %>:</strong>
  <%= @student.nif %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.birthday') %>:</strong>
  <%= @student.birthday %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.address') %>:</strong>
  <%= @student.address %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.phone') %>:</strong>
  <%= @student.phone %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.email') %>:</strong>
  <%= @student.email %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.guardian_name') %>:</strong>
  <%= @student.guardian_name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.guardian_phone') %>:</strong>
  <%= @student.guardian_phone %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.guardian_email') %>:</strong>
  <%= @student.guardian_email %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.former_studies') %>:</strong>
  <%= @student.former_studies %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.access_mode') %>:</strong>
  <%= t(@student.access_mode) %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.remarks') %>:</strong>
  <%= @student.remarks %>
</p>

<p>
  <strong><%= t(:subjects) %>:</strong>
