<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.student.name') %>:</strong>
  <%= @student.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.nif') %>:</strong>
  <%= @student.nif %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.image') %>:</strong>
  <%= image_tag @student.image_url if @student.image? %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.birthday') %>:</strong>
  <%= @student.birthday %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.address') %>:</strong>
  <%= @student.address %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.phone') %>:</strong>
  <%= @student.phone %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.email') %>:</strong>
  <%= @student.email %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.guardian_name') %>:</strong>
  <%= @student.guardian_name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.guardian_phone') %>:</strong>
  <%= @student.guardian_phone %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.guardian_email') %>:</strong>
  <%= @student.guardian_email %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.former_studies') %>:</strong>
  <%= @student.former_studies %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.access_mode') %>:</strong>
  <%= t(@student.access_mode) %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.remarks') %>:</strong>
  <%= @student.remarks %>
</p>

<p>
  <strong><%= t(:subjects) %>:</strong>

  <% if @subjects.length > 0 %>
      <%= paginate @subjects %>
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th><%= t :name %></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @subjects.each do |subject| %>
          <tr>
            <td><%= link_to subject.name, subject %></td>
            <td><%= link_to t(:unenroll), cancel_student_path(@student,subject_id: subject.id), method: :post %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <%= t(:no_subjects) %>
<% end %>
</p>

<%= link_to t(:edit), edit_student_path(@student) %> |
<%= link_to t(:back), students_path %>