<p id="notice"><%= notice %></p>



<p>
  <strong><%= t('activerecord.attributes.subject.name') %>:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.subject.course') %>:</strong>
  <%= @subject.course %>
</p>

<p>
  <strong><%= t('activerecord.attributes.subject.hours') %>:</strong>
  <%= @subject.hours %>
</p>

<p>
  <strong><%= t('activerecord.attributes.subject.remarks') %>:</strong>
  <%= @subject.remarks %>
</p>

<p>
  <strong><%= t(:enrolled_students) %>:</strong>
  <% if @students.length > 0 %>
      <%= paginate @students %>
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th></th>
        <th><%= t :name %></th>
        <th><%= t :nif %></th>
        <% @evaluable_items.each do |evaluable_item| %>
            <th><%= evaluable_item.name %></th>
        <% end %>
        <th><%= t :total %></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @students.each do |student| %>
          <tr>
            <td><%= link_to(image_tag(student.image_url(:thumb)), edit_subject_mark_path(@subject,student)) if student.image? %></td>
            <td><%= link_to student.name, edit_subject_mark_path(@subject,student) %></td>
            <td><%= link_to student.nif, edit_subject_mark_path(@subject,student) %></td>
            <% total = 0.0 %>
            <% @evaluable_items.each do |evaluable_item| %>
                <% mark = evaluable_item.marks.find_by_student_id(student.id) %>
                <% total += mark.value * evaluable_item.weight if mark %>
                <td><%= mark.value if mark %></td>
            <% end %>
            <td><%= total %></td>
            <td><%= link_to t(:unenroll), cancel_subject_path(@subject,student_id: student.id), method: :post %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <%= t(:no_enrolled_students) %>
<% end %>
</p>

<%= link_to t(:edit), edit_subject_path(@subject) %> |
<%= link_to t(:evaluable_items), subject_evaluable_items_path(@subject) %> |
<%= link_to t(:back), subjects_path %>